{% extends 'base.html' %}
{% block css %}
    <style>
        .block {
            margin-left: 100px;
            margin-top: 68px;
        }
        .block > span {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
        }
        .block img {
            margin-left: 24px;
            margin-top: -10px;
        }

        .title-block {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
        }
        .inner {
            display: flex;
            flex-direction: column;
        }

        .blocks {
            margin-top: 32px;
            margin-bottom: 34px;
        }

        .blocks > img {
            margin-right: 44px;
        }

        .block > div {
            margin-top: 64px;
        }

    </style>
    <script>

    </script>
{% endblock %}

{% block body %}
    {% load static %}
    {% include 'includes/header.html' %}
    {% load static %}
    <div class="block">
        <div>
            <div>
                <span class="title-block">Ремайндеры</span>
                <img src="{% static 'add.png' %}" width="32" height="32"/>
            </div>
            <div class="blocks">
                <img src="{% static 'remind1.png' %}" width="280" height="200">
                <img src="{% static 'remind3.png' %}" width="280" height="200">
                <img src="{% static 'remind6.png' %}" width="280" height="200">
            </div>
        </div>
        <div>
                <div>
                    <span class="title-block">Похвальные дела</span>
                    <img src="{% static 'add.png' %}" width="32" height="32"/>
                </div>
                <div class="blocks">
                    <img src="{% static 'remind4.png' %}" width="280" height="200">
                    <img src="{% static 'remind2.png' %}" width="280" height="200">
                    <img src="{% static 'remind5.png' %}" width="280" height="200">
                </div>
            </div>

            <div>
            <div>
                <span class="title-block">Дневник благодарности</span>
                <img src="{% static 'add.png' %}" width="32" height="32"/>
            </div>
            <div class="blocks">
                <img src="{% static 'diary.png' %}" width="920" height="200">
            </div>
        </div>
    </div>
{% endblock %}