<div class="header">
    <div class="info">
        <div>
            {% load static %}
            <img width="60" height="60" src="{% static 'logo.png' %}">
        </div>
        <div class="title">
            work mood
        </div>
    </div>
    <div class="menu">
        <div>
            <a href="{% url 'tracker' %}">Трекер</a>
        </div>
        <div>
            <a href="{% url 'mind' %}">Мысли</a>
        </div>
        <div>
            <a href="{% url 'pie-list' %}">Техника пирога</a>
        </div>
        <div>
            <a href="{% url 'practice' %}">Практики</a>
        </div>
        <div>
            <a href="{% url 'command' %}">Команды</a>
        </div>
    </div>
</div>