<div class="result-title">
    <span>Запись сохранена! Вы чувствуете себя удовлетворительно</span>
</div>
<div class="result-remind">
    <span>
        Вот, что важно помнить:
    </span>
    <div>
        В жизни есть вещи, которые ты можешь и не можешь контролировать.
Ты знаешь, куда направить энергию
    </div>
</div>

<div class="result-thank">
    <span>Посмотрите, за что вы были благодарны:</span>
    <div>
        Сделал 5 звонков и подписал договор с 3 заказчиками
    </div>
</div>