{% extends 'base_auth.html' %}
{% block form %}
    <label>
        Никнейм
        <input name="username" required>
    </label>
    <label>
        Пароль
        <input name="password" type="password" required>
    </label>
{% endblock %}