{% extends 'base_auth.html' %}
{% block form %}
    <label>
        Имя&nbsp;&nbsp;
        <input name="iname" required>
    </label>
    <label>
        Фамилия
        <input name="fname" required>
    </label>
    <label>
        Отчество
        <input name="oname" required>
    </label>
    <label>
        Никнейм
        <input name="username" required autocomplete="off">
    </label>
    <label>
        Пароль
        <input name="password" type="password" required autocomplete="off">
    </label>
    <label>
        Повторите пароль
        <input name="password_repeat" type="password" required autocomplete="off">
    </label>
{% endblock %}
{% block button %}
    <div><button form="form">Зарегистрироваться</button></div>
{% endblock %}