{% extends 'base.html' %}
{% block css %}
    <style>
        .block {
            margin-left: 100px;
            margin-top: 68px;
        }
        .block > span {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
        }
        .block img {
            margin-left: 24px;
            margin-top: -10px;
        }

        .inner {
            margin-top: 40px;
        }

        .inner > span {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 33px;
        }
        .inner {
            display: flex;
            flex-direction: column;
        }

        .blocks {
            margin-top: 32px;
            margin-bottom: 34px;
        }

        .blocks > img {
            margin-right: 44px;
        }

    </style>
    <script>

    </script>
{% endblock %}

{% block body %}
    {% load static %}
    {% include 'includes/header.html' %}
    {% load static %}
    <div class="block">
        <span>Forest team</span>
        <div class="block inner">
            <div>
                <div>
                    <span>Обсуждения</span>
                    <img src="{% static 'add.png' %}" width="32" height="32"/>
                </div>
                <div class="blocks">
                    <img src="{% static 'comment1.png' %}" width="270" height="200">
                    <img src="{% static 'comment2.png' %}" width="200" height="200">
                    <img src="{% static 'comment3.png' %}" width="270" height="200">
                    <img src="{% static 'comment4.png' %}" width="200" height="200">
                </div>
            </div>
            <div>
                <div>
                    <span>Отзывы</span>
                    <img src="{% static 'add.png' %}" width="32" height="32"/>
                </div>
                <div class="blocks">
                    <img src="{% static 'comment5.png' %}" width="200" height="200">
                    <img src="{% static 'comment6.png' %}" width="200" height="200">
                </div>
            </div>
        </div>
    <div>
{% endblock %}