<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    {% block js %}
    {% endblock %}
    {% block css %}
    {%  endblock %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet" type="text/css">
    <style>
        .header {
            width: 100%;
            height: 100px;
            border-bottom: 2px SOLID #161515;
            display: flex;
            justify-content: space-between;
        }

        .header > div {
            display: flex;
            justify-content: space-between;
            margin-right: 64px;
            margin-left: 64px;
        }

        .header .info > div {
            display: flex;
            align-items: center;
            margin-right: 32px;
        }

        .header .menu > div {
            margin: 33px 16px;
        }

        body {
            margin: 0;
            color: #212123;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 33px;
        }
        a, a:hover {
            color: #212123;
            text-decoration: none;
        }

        .header .checked {
            font-weight: bold;
        }
        #exampleModal button {
            background: #FFFFFF;
            border: 1px solid #212123;
            width: 130px;
            height: 36px;
            box-sizing: border-box;
            border-radius: 4px;
            font-family: 'SF Pro Text';
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            letter-spacing: 0.15px;
        }
        .modal-body {
            background: rgba(216, 217, 228, 0.6);
            border-radius: 16px;
            width: 1000px;
            height: 444px;
            margin-left: 80px;
            margin-right: 80px;
            margin-top: 24px;
            display: flex;
            padding: 0;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
        }
        .modal-body > div {
            margin-right: 64px;
            margin-left: 64px;
            margin-top: 24px;
        }
        .modal-dialog {
            max-width: 1160px;
        }
        .title {
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 44px;
        }
        .closed {
            cursor: pointer;
        }
    </style>
    <script>
        $(document).ready(function () {
            let links = $('.header a');
            links.each(function(index, el) {
                if ('{{ request.path }}'.includes(el.pathname)) {
                    $(el).addClass('checked');
                }
            })
        })
    </script>
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>