<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style>
        body {
            display: flex;
            justify-content: center;
            font-family: 'Open Sans';
        }
        .main {
            margin-top: 140px;
            width: 560px;
        }

        body .main > div > .title {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 64px;
            line-height: 87px;
            margin: 6px 80px 0 9px;
            color: #212123;
        }

        .tools {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 49px;
        }
        .logo-block {
            margin-bottom: 71px;
        }
        .form {
            border: 1px solid #212123;
            box-sizing: border-box;
            border-radius: 10px;
            width: 380px;
            margin-left: 90px;
        }
        form {
            display: flex;
            flex-direction: column;
            padding-top: 16px;
            margin-bottom: 32px;
        }
        form input {
            width: 300px;
            height: 32px;
            border: 1px solid #212123;
            box-sizing: border-box;
            border-radius: 10px;
        }
        form label {
            margin-left: 40px;
            margin-top: 8px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 19px;
        }
        button {
            background: #FFFFFF;
            border: 1px solid #212123;
            box-sizing: border-box;
            border-radius: 4px;
            width: 130px;
            height: 36px;
            font-family: SF Pro Text;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            letter-spacing: 0.15px;
        }
        .button-block {
            display: flex;
            justify-content: space-evenly;
            margin-top: 32px;
            margin-left: 260px;
        }
        .checked-tools {
            border-bottom: 1px SOLID #000;
        }
        a, a:hover {
            color: #212123;
            text-decoration: none;
        }
    </style>
    <script>
        $(document).ready(function () {
            let links = $('.tools span a');
            links.each(function(index, el) {
                if ('{{ request.path }}'.includes(el.pathname)) {
                    $(el).addClass('checked-tools');
                }
            })
        })
    </script>
</head>
<body>
    {% block body %}
        {% load static %}
    <div class="main">
        <div class="logo-block">
            <span class="title">work mood</span>
            <img width="100" height="100" src="{% static 'logo100.png' %}">
        </div>
        <div class="tools">
            <span>
                <a href="{% url 'registration' %}">Регистрация</a>
            </span>
            <span>
                <a href="{% url 'login' %}">Авторизация</a>
            </span>
        </div>
        <div class="form">
            <form method="post" id="form">
                {% csrf_token %}
                {% block form %}
                {% endblock %}
            </form>
        </div>
        <div class="button-block">
            {% block button %}
                <div><button form="form">Войти</button></div>
            {% endblock %}
        </div>
    </div>
    {% endblock %}
</body>
</html>