{% extends 'base.html' %}
{% block css %}
    <style>
        .block {
            margin-left: 100px;
            margin-top: 68px;
        }
        .block > span {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
        }
        .block img {
            margin-left: 24px;
            margin-top: -10px;
        }

        .title-block {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
        }
        .inner {
            display: flex;
            flex-direction: column;
        }

        .blocks {
            margin-top: 32px;
            margin-bottom: 34px;
            display: flex;
            flex-direction: column;
        }

        .blocks > img {
            margin-right: 44px;
            margin-top: 24px;
        }

    </style>
    <script>

    </script>
{% endblock %}

{% block body %}
    {% load static %}
    {% include 'includes/header.html' %}
    {% load static %}
    <div class="block">
        <div>
            <span class="title-block">Мысли</span>
            <img src="{% static 'add.png' %}" width="32" height="32"/>
        </div>
        <div class="blocks">
            <img src="{% static 'mind1.png' %}" width="1040" height="594">
            <img src="{% static 'mind2.png' %}" width="1040" height="594">
        </div>
    </div>
{% endblock %}