{% extends 'base.html' %}
{% block css %}
    <style>
        .pie {
            width: 400px;
        }
        .pie-block {
            margin-left: 100px;
            margin-top: 68px;
        }
        .pie-block > span {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 49px;
        }
        .pie-block > img {
            margin-left: 24px;
            margin-top: -10px;
        }
        .pie-block > div {
            margin-top: 30px;
        }
        .record {
            background: rgba(216, 217, 228, 0.6);
            width: 1140px;
            border-radius: 16px;
        }
        .record > div {
            display: flex;
            justify-content: space-between;
            padding: 25px;
        }
        .record .date {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 30px 32px 16px 0;
        }
        .record span {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
        }
        .record .date span {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
        }
        .pie-container {
            text-align: center;
        }
        .record .title {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
        }
        .tools img {
            margin-left: 24px;
        }
        textarea {
            resize: none;
            width: 960px;
            height: 100px;
            background: none;
            border: none;
        }

        textarea:focus-visible {
            border: none!important;
            outline: none;
        }
    </style>
    <script>
        function saveDescription(id, el) {
            $.ajax({
                url: "{% url 'pie-update' %}",
                method: 'POST',
                data: {id: id, description: $(el).val()},
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function () {
                }
            });
        }

        function deleteQuiz(url) {
            $.ajax({
                url: url,
                method: 'DELETE',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function () {
                    location.reload();
                }
            });
        }
    </script>
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
    $(document).ready(function () {
        Chart.defaults.global.defaultFontFamily = "Open Sans";
        Chart.defaults.global.defaultFontSize = 12;

        var oilCanvas = document.getElementById('oilChart');
        var secondCanvas = document.getElementById('secondChart')

        let chartOptions = {
            legend: {
                position: 'left'
            },
            maintainAspectRatio: false,
        };

        let labels = []
        let data = []
        let chartData = {}

        {% for record in records %}
            {% for pie in record.pies %}
                let canvas{{ record.id }}{{ pie.id }} = document.getElementById('{{ record.id }}{{ pie.id }}Chart');
                labels = []
                data = []
                {% for sphere in pie.spheres %}
                    labels.push('{{ sphere.title }}')
                    data.push({{ sphere.percent }})
                {% endfor %}
                chartData = {
                    labels: labels,
                    datasets: [
                        {
                            data: data,
                            borderColor: "#212123",
                            backgroundColor: [
                                "#EB5656",
                                "#56EBEB",
                                "#EB56A1",
                                "#56EB56",
                                "#EBEB56",
                                "#5656EB",
                                "#EBA156",
                                "#A156EB",
                            ],
                            borderWidth: 1
                    }]
                };

                let a{{ record.id }}{{ pie.id }} = new Chart(
                    canvas{{ record.id }}{{ pie.id }},
                    {
                        type: 'pie',
                        data: chartData,
                        options: chartOptions,
                });
            {% endfor %}
        {% endfor %}

        var oilData = {
            labels: [
                "Saudi Arabia",
                "Russia",
                "Iraq",
                "United Arab Emirates",
                "Canada"
            ],
            datasets: [
                {
                    data: [20, 20, 20, 20, 20],
                    backgroundColor: [
                        "#FF6384",
                        "#63FF84",
                        "#84FF63",
                        "#8463FF",
                        "#6384FF"
                    ],
                    borderColor: "black",
                    borderWidth: 1
            }]
        };


    });
    </script>
{% endblock %}
{% block body %}
    {% load static %}
    {% include 'includes/header.html' %}
    <div class="pie-block">
        <span>Техника пирога</span><img src="{% static 'add.png' %}" width="32" height="32" data-toggle="modal" data-target="#exampleModal">

        {% for record in records %}

            <div class="record">
                <div class="title">
                    {{ record.title }}
                    <div class="tools">
                        <img src="{% static 'edit.png' %}">
                        <img src="{% static 'delete.png' %}" onclick="deleteQuiz('{% url 'pie-detail' record.id %}')">
                    </div>
                </div>
                <div>
                    {% for pie in record.pies %}
                        <div class="pie-container">
                            <div class="pie">
                                <canvas id="{{ record.id }}{{ pie.id }}Chart" width="200" height="200"></canvas>
                            </div>
                            <span>{{ pie.title }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <div style="display: flex; flex-direction: column; margin-top: 43px">
                        <span>Вывод</span>
                        <span style="margin-top: 24px">
                            <textarea onblur="saveDescription({{ record.id }}, this)">{{ record.description }}</textarea>
                        </span>
                    </div>
                </div>
                <div class="date">
                    <span>{{ record.created_at }}</span>
                </div>
            </div>

        {% endfor %}


    </div>
    <!-- Modal -->
    <style>
        .body > form > div > label {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.15px;
        }
        .body .diagrams .diagram > label {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.15px;
        }
        .diagram > label > input {
            width: 332px;
            height: 40px;
        }
        .body > form > div > label > input {
            width: 402px;
            height: 40px;
        }
        .diagrams {
            margin-top: 64px;
            display: flex;
        }
        .diagram {
            margin-right: 32px;
        }
        .segments {
            margin-top: 44px;
            margin-bottom: 90px;
        }
        .segment {
            display: flex;
        }
        .body {
            margin-left: 32px;
        }
        .segment-row {
            margin-top: 20px;
        }
        .segments .segment {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
        }
        .block {
            display: none;
        }
    </style>
    <script>
        function addSegment(el) {
            let newRow = $(el).parent().parent().parent().children(
                '.segment-row:last-child').clone();
            let inputs = newRow[0].querySelectorAll('input');
            $(inputs).val('')
            newRow.children('#count').text(
                newRow.children('#count').text() - 0 + 1);
            newRow.children('input').val('');
            newRow.appendTo(
                    $(el).parent().parent().parent());
        }
        function addRecord() {
            let form = $('#form');
            let data = form.serializeArray();
            let newData = {}
            let key;
            let value;
            for (let [index, dict] of Object.entries(data)) {
                key = dict['name']
                value = dict['value']
                if (key in newData) {
                    newData[key] = newData[key] + ',' + value
                }
                else  {
                    newData[key] = value;
                }
            }
            $.ajax({
                url: "{% url 'pie-list' %}",
                method: 'POST',
                data: newData,
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function () {
                    location.reload();
                }
            });

        }
    </script>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div style="display: flex; justify-content: flex-end; margin-right: 24px; margin-top: 24px">
            <span class="closed" aria-hidden="true" data-dismiss="modal" aria-label="Close">&times;</span>
          </div>
          <div class="body">
              <form method="POST" action="{% url 'pie-list' %}" id="form">
            <div>
                <label>
                    Запись:
                    <input name="record_title">
                </label>
            </div>
              <div class="diagrams">
                  <div class="diagram">
                      <label>
                          Диаграма 1:
                          <input name="pie_title_1">
                      </label>
                      <div class="segments">
                          <div class="segment segment-header">
                              <span>
                                  <img src="{% static 'add_24px.png' %}"
                                       style="margin-right: 21px"
                                       onclick="addSegment(this)">
                              </span>
                              <div style="width: 289px; margin-right: 24px">
                                  <span>название сегмента</span>
                              </div>
                              <span style="width: 127px;">доля сегмента</span>
                          </div>
                          <div class="segment segment-row">
                              <span style="margin-right: 29px" id="count">1</span>
                              <span style="margin-right: 24px"><input name="segment_title_1" style="width: 289px; height: 40px"></span>
                              <span><input name="segment_point_1" style="width: 100px; height: 40px"></span>
                          </div>
                      </div>
                  </div>
                 <div class="diagram">
                      <label>
                          Диаграма 1:
                          <input name="pie_title_2">
                      </label>
                      <div class="segments">
                          <div class="segment segment-header">
                              <span>
                                  <img src="{% static 'add_24px.png' %}"
                                       style="margin-right: 21px"
                                       onclick="addSegment(this)">
                              </span>
                              <div style="width: 289px; margin-right: 24px">
                                  <span>название сегмента</span>
                              </div>
                              <span style="width: 127px;">доля сегмента</span>
                          </div>
                          <div class="segment segment-row">
                              <span style="margin-right: 29px" id="count">1</span>
                              <span style="margin-right: 24px"><input name="segment_title_2" style="width: 289px; height: 40px"></span>
                              <span><input name="segment_point_2" style="width: 100px; height: 40px"></span>
                          </div>
                      </div>
                  </div>
              </div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="submit" onclick="addRecord()">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}